/* navbar */
#header {
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 85px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    padding: 0px 110px;
}

.header__img {
    width: 180px;
    padding: 5px 0px;
    margin-right: 16px;
    cursor: pointer;
}

.navbar-list {
    display: flex;
    justify-content: center;
}

.navbar-item {
    display: block;
    line-height: 85px;
}

.navbar-item-link{
    text-decoration: none;
    height: 48px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 550;
    padding: 30px 26px;
    position: relative;
}

.navbar-item-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 26px;
    transition: 0.3s;
    right: 20px;
}

.navbar-item:hover .navbar-item-link::after {
    width: calc(100% - 20px * 2);
    left: 20px;
    transform-origin: translateX(100%);
}

.navbar-item.navbar-item--active .navbar-item-link {
    color: #000;
}

.login-btn:hover {
    border-color:  #48b1cd;
    background-color: #48b1cd;
}

/* Home */


#home {
    
}

.home-intro {
    margin-top: 85px;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-content {
    /* flex-grow: 1; */
    /* width: 450px; */
    text-align: left;
    /* padding-left: 330px; */
}
.home-title {
    font-size: 5.4rem;
    line-height: 7.4rem;
    font-weight: 550;
    color: var(--title-color);
}
.home-subtitle {
    margin-top: 40px;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--text-color);
}
.home-buttons {
    margin-top: 60px;
    display: flex;
}

.home-btn-start {
    background-color: var(--primary-color);
    margin-right: 8px;
}

.home-btn-start .btn-link {
    color: var(--white-color);
}

.home-btn-icon {
    margin-right: 6px;
}

.home-img-fluid {
    flex-grow: 1;
}

.home-img {
    width: 100%;
}

.home-slider-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
}

.home-slider-item {
    width: 210px;
    text-align: center;
}

.home-slider-img {

}

.home-page-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-img-fluid {
    width: 50%;

}

.page2-img {
    width: 100%;
    padding: 0px 75px 0px 30px;
}

.page2-content {
    width: 50%;
    padding: 0px 178px 0px 15px;
}

.page2-title {
    font-size: 4.0rem;
    line-height: 5.0rem;
    font-weight: 500;
}
.page2-subtitle {
    margin-top: 48px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
}

/* homepage3 */

.page3-title {
    font-size: 5.0rem;
    font-weight: 550;
    line-height: 7.0rem;
    padding: 60px 0px;
    color: var(--title-color);
}

.page3-box-list{
    display: flex;
    /* flex-wrap: wrap; */
}
.page3-box-item{
    display: flex;
    transition: transform linear 0.2s, box-shadow linear 0.2s;
    padding: 37px 30px;
}

.page3-box-item:hover {
    transform: translateY(-8px);
    box-shadow: 0px 8px 20px 0px rgba(149, 49, 243, 0.1);
}

.page3-img-fluid {
    padding: 25px;
    border-radius: 100%;
    border: 2px solid #ccc;
    width: fit-content;
}

.page3-box-img{
    width: 58px;
}

.page3-box-content {
    margin-left: 20px;
    padding-right: 40px;
}

.page3-box-title{
    margin-bottom: 18px;
    font-size: 1.6rem;
    font-weight: 550;
}

.page3-box-subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--text-color);
}
