/* navbar */
#header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    height: 85px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    padding: 0px 110px;
    z-index: 1;
}

.header__img {
    width: 180px;
    padding: 5px 0px;
    margin-right: 16px;
    cursor: pointer;
}

.navbar-list {
    display: flex;
    justify-content: center;
}

.navbar-item {
    display: block;
}

.navbar-item-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 550;
    padding: 30px 26px;
    position: relative;
}

.navbar-item-link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: #000;
    position: absolute;
    bottom: 26px;
    transition: 0.3s;
    right: 20px;
}

.navbar-item:hover .navbar-item-link::after {
    width: calc(100% - 20px * 2);
    left: 20px;
    transform-origin: translateX(100%);
}

.navbar-item.navbar-item--active .navbar-item-link {
    color: #000;
}

.login-btn:hover {
    border-color:  #48b1cd;
    background-color: #48b1cd;
}

.menubtn {
    display: none;
}

.menu-opener {
    display: none;
}

/* Home */

html {
    background-image: url(./img/homeBackground.png);
    background-repeat: no-repeat;
    /* sadsad */
}


#home {
    width: 1200px;
}

.home-intro {
    margin-top: 85px;
    height: calc(100vh - 85px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    text-align: left;
}

.home-title {
    font-size: 6.0rem;
    line-height: 7.4rem;
    font-weight: 600;
    color: var(--title-color);
}
.home-subtitle {
    margin-top: 36px;
    font-size: 2.0rem;
    line-height: 2.8rem;
    color: var(--text-color);
}
.home-buttons {
    margin-top: 60px;
    display: flex;
}

.home-btn-start {
    background-color: var(--primary-color);
    margin-right: 8px;
}

.home-btn-start .btn-link {
    color: var(--white-color);
}

.home-btn-icon {
    margin-right: 6px;
}

.home-img-fluid {

}

.home-img {
    width: 100%;
}

.home-slider-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 0px;
    max-width: 100%;
}

.home-slider-item {
    text-align: center;
}

.home-slider-img {
    flex: 0 0 240px;
}

.home-page-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page2-img-fluid {
    width: 50%;

}

.page2-img {
    width: 100%;
    padding: 0px 75px 0px 30px;
}

.page2-content {
    width: 50%;
    padding: 0px 178px 0px 15px;
}

.page2-title {
    font-size: 3.2rem;
    line-height: 4.0rem;
    font-weight: 500;
}
.page2-subtitle {
    margin-top: 36px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--text-color);
}

/* homepage3 */

.home-page-3 {
    padding-bottom: 50px;
}

.page3-title {
    font-size: 4.8rem;
    font-weight: 550;
    line-height: 7.0rem;
    padding: 60px 0px;
    color: var(--title-color);
}

.page3-box-list{
    display: flex;
    /* flex-wrap: wrap; */
}
.page3-box-item{
    display: flex;
    transition: transform linear 0.2s, box-shadow linear 0.2s;
    padding: 37px 30px;
}

.page3-box-item:hover {
    transform: translateY(-8px);
    box-shadow: 0px 0px 26px 4px rgba(149, 49, 243, 0.1);
}

.page3-img-fluid {
    padding: 25px;
    border-radius: 100%;
    border: 2px solid #ccc;
    width: fit-content;
}

.page3-box-img{
    width: 58px;
}

.page3-box-content {
    margin-left: 20px;
    padding-right: 40px;
}

.page3-box-title{
    margin-bottom: 18px;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.page3-box-subtitle{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.8rem;
    color: var(--text-color);
}

/* how-it-works */

#how-it-works {
    padding-top: 140px;
    background-color: #f8f8f8;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.works-title {
    font-size: 5.6rem;
    font-weight: 600;
    line-height: 6.0rem;
    color: var(--title-color);
    margin-bottom: 60px;
}

.work-steps-list {
    display: flex;
    width: 1200px;
    margin-bottom: 142px;
}

.work-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 26px;
}

.work-item:hover .work-item-icon-fluid {
    background-color: var(--primary-color);
}

.work-item:hover .work-item-icon {
    color: var(--white-color);
}

.work-item-icon-fluid {
    width: 120px;
    height: 120px;
    border-radius: 4.0rem;
    box-shadow: 0px 10p 20px 0px rgba(153, 211, 223, 0.1);
    background-color: var(--white-color);
    display: flex;
    transition: background-color linear 0.2s;
}

.work-item-icon {
    margin: auto;
    font-size: 3.6rem;
    color: var(--primary-color);
    transition: color linear 0.2s;
}

.work-item-title {
    margin: 50px 0px 24px 0px;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--title-color);
}

.work-item-subtitle {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
    text-align: center;
}

/* features */

#features {
    width: 1200px;
}

.feature-dashboard, .feature-player, .feature-availibity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    width: 100%;
}

.feature-availibity {
    align-items: flex-start;
}

.dashboard-img-fluid {
    flex: 0 0 50%;
    /* margin-right: 40px; */
}

.dashboard-img{
    width: 100%;
}

.dashboard-content {
    flex: 0 0 50%;
}

.dashboard-title, .availibity-title {
    color: #68becc;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 24px;
}

.availibity-title {
    margin-top: 100px;
}

.dashboard-subtitle{
    font-size: 3.2rem;
    color: var(--title-color);
    line-height: 3.2rem;
    margin-bottom: 40px;
}

.dashboard-list {
    
}

.dashboard-item {
    display: flex;
    margin-bottom: 8px;
}

.dashboard-icon {
    color: var(--primary-color);
    font-size: 1.4rem;
    margin-right: 24px;
    position: relative;
    top: 9px;
}

.dashboard-text {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.availibity-text {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.2rem;
    width: 75%;
    text-align: justify;
}

.player-content {
    margin-right: 40px;
}

.player-img-fluid {
    width: 50%;
}

.player-img {
    width: 100%;
}

.feature-help {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
}

.help-content {

}

.help-title {
    line-height: 6.0rem;
    font-size: 5.2rem;
    font-weight: 500;
    width: 300px;
    margin-bottom: 54px;
    color: var(--title-color);
}

.help-list {

}

.help-item {
    width: 600px;
    margin-bottom: 20px;
}

.help-item:hover .help-item-title {
    color: var(--primary-color);
}

.help-item.active .help-item-content {
    display: block;
}

.help-item.active .help-item-icon-plus {
    display: none;
}

.help-item.active .help-item-icon-minus {
    display: block;
}

.help-item.active .help-item-title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: none;
}

.help-item-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 5.4rem;
    background-color: var(--white-color);
    padding-left: 30px;
    cursor: pointer;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    transition: color linear 0.1s;
}

.help-item.active .help-item-title {
    color: var(--white-color);
    background-color: #85b4bf;
}

.help-item-icon-plus, .help-item-icon-minus {
    display: none;
    font-size: 1.8rem;
    line-height: 5.4rem;
    padding-right: 12px;
}

.help-item-icon-plus {
    display: block;
    color: var(--text-color)
}

.help-item-content {
    display: none;
    padding: 28px;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--text-color);
    background-color: var(--white-color);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.05);
    animation: helpContentShow linear 0.5s;
    transform-origin: 0% -50%;
    will-change: tranform, opacity;
}

@keyframes helpContentShow {
    from {
        transform: scaleY(0);
        opacity: 0;
    }
    to {
        transform: scaleY(1);
        opacity: 1;
    }
}

.help-img-fluid {
    width: 738px;
}
.help-img {
    width: 100%;
}

.feature-analytics {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--white-color);
}

.feature-analytics-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1200px;
}

.analytics-img-fluid {
    width: 50%;
}

.analytics-img {
    width: 100%;
}

.analytics-content {
    padding-left: 12px;
    width: 50%;
}

.analytics-title {
    font-size: 4.6rem;
    line-height: 4.6rem;
    margin-bottom: 36px;
    color: var(--title-color);
}

.analytics-subtitle {
    font-size: 1.6rem;
    font-weight: 550;
    line-height: 2.4rem;
    color: var(--text-color);
    /* width: 540px; */
}


/* orange-page */

#orange-page {
    background-image: linear-gradient(45deg , #f3c1bf, #f3e1c0);
    min-height: 820px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-list {

}

.orange-item {
    /* display: flex; */
    width: 360px;
    margin-bottom: 54px;
    cursor: pointer;
}

.orange-item.active .orange-item-icon-fluid {
    background-image: linear-gradient(to bottom right,#e8a6a5, #d8d2d1)
}

.orange-item.active .orange-item-icon,
.orange-item.active .orange-title,
.orange-item.active .orange-subtitle {
    color: var(--white-color);
}

.orange-item-icon-fluid {
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #f4d0c7;
    border-radius: 16px;
    margin-bottom: 16px;
    margin-right: 30px;
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.02);
    float: left;
}

.orange-item-icon {
    margin: auto;
    color: #fae7e3;
    font-size: 2.8rem;
}

.orange-title {
    font-size: 2.6rem;
    line-height: 3.6rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 24px;
    color: #fae7e3;
}

.orange-subtitle {
    font-size: 1.6rem;
    line-height: 2.8rem;
    font-weight: 500;
    color: #fae7e3;
}

.orange-item:hover .orange-item-icon,
.orange-item:hover .orange-title,
.orange-item:hover .orange-subtitle {
    color: var(--white-color)
}

.orange-index-list {
    display: flex;
    align-items: center;
}

.orange-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.orange-img-fluid {
    display: none;
    width: 100%;
}

.orange-img-fluid.active {
    display: block;
}

.orange-img {
    width: 100%;
}

.orange-index-item .item-icon {
    color: #fae7e3;
    margin: 0px 16px;
    font-size: 1.2rem;
    border-radius: 999px;
    cursor: pointer;
}

.orange-index-item.active .item-icon {
    font-size: 2.0rem;
    box-shadow: 0px 0px 3px 5px rgb(255 255 255 / 10%);
}

/* two-image */

.slideimage__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    margin-bottom: 70px;
    width: 1200px;
}

.slideimage__item {
    width: 50%;
}

.slideimage__item__img {
    padding-left: 100%;
    background-repeat: no-repeat;
    padding-top: 400px;
}

.aboveWhoUseNode__img-1 {
    background-image: url(./img/aboveWhoUseNode-1.jpg);
}

.aboveWhoUseNode__img-2 {
    background-image: url(./img/aboveWhoUseNode-2.jpg);
}

/* users */

.users {

}

.users__title {
    font-size: 4.6rem;
    line-height: 4.6rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--title-color);
    text-align: center;
}

.users__subtitle {
    font-size: 1.8rem;
    line-height: 2.8rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 60px;
}

.users-section__list {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.users-sectione__item {
    width: calc((100% - 120px) /3);
    padding: 35px 40px 50px;
    transition: transform linear 0.13s;
    margin: 0px 20px 20px;
    background-color: var(--white-color);
    cursor: pointer;
}

.users-sectione__item:hover {
    box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

.item__img-fluid {
    margin: auto;
    width: fit-content;
    margin-bottom: 24px;
}
.item__img {

}

.item__title {
    font-size: 2.2rem;
    color: var(--title-color);
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.item-subtitle {
    font-size: 1.6rem;
    line-height: 2.6rem;
    text-align: center;
    color: var(--text-color);
}


/* Ready */

.ready {
    margin-top: 100px;
    position: relative;
    margin-bottom: 200px;
    width: 1200px;
}

.ready__left {
    background-image: url(./img/ready/planet.png), linear-gradient(to top right, #8ccfdb, #73a6d9);
    background-position: 55%;
    background-repeat: no-repeat;
    padding-left: 70px;
    opacity: 0.8;
    border-radius: 8px;
    padding: 70px;
}

.ready__title {
    font-size: 3.6rem;
    line-height: 4.4rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: var(--white-color);
}

.ready__subtitle {
    font-size: 1.8rem;
    line-height: 3.2rem;
    color: var(--white-color);
    margin-bottom: 20px;
}

.ready__btn .btn-link {
    width: 169px;
    height: 54px;
    font-weight: 600;
    font-size: 1.6rem;
    position: relative;
    top: -1px;
}

.ready__btn {
    transition: background-color linear 0.1s;
}

.ready__btn:hover {
    background-color: #d3c874;
}

.ready__right {
    position: absolute;
    left: 50%;
    top: -20px;
    width: 50%;
}

.ready__img {   
    width: 100%;
}

/* footer */

.footer {
    width: 100%;
}

.footer_list {
    padding-bottom: 80px;    
    margin: auto;
}

.logo_img {
    width: 265px;
    max-width: 100%;
    margin-bottom: 30px;
}

.subtitle {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: justify;
}

.footer__item {
    
}

.item_title {
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.who__list {

}

.who__item {
    margin-bottom: 12px;
    position: relative;
}

.who__item .item__link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 2.2rem;
    transition: color 0.3s;
}

.who__item .item__link::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background-color: var(--primary-color);
    position: absolute;
    bottom: 0px;
    right: 0;
    transition: 0.3s;
}

.who__item:hover .item__link {
    color: var(--primary-color);
}

.who__item:hover .item__link::after {
    width: calc(100%);
    left: 0;
    transform-origin: translateX(100%);
}

.footer__item--language {
    text-align: right;
}

.footer__item--language .item_title {
    display: block;
    float: right;
    width: 62%;
    text-align: left;
}

.language__selector {
    width: 62%;
    height: 56px;
    background-color: rgb(248, 246, 246);
    border: none;
    border-radius: 4px;
    padding: 0px 20px;
    font-size: 1.6rem;
}

.footer__bottom {
    border-top: 1px solid #ededed;
    width: 100%;
}

.footer__bottom__container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0px;
    width: 1200px;
}

.right-copy {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--text-color);
}

.social-links__list {
    display: flex;
    align-items: center;
}

.social-link__item {
    border: 1px solid #ccc;
    border-radius: 999px;
    display: flex;
    overflow: hidden;
    margin: 0px 8px;
    background-color: var(--white-color);
    transition: 0.3s;
}

.social-link__item:hover {
    background-color: var(--primary-color);
    border-color: transparent;
}

.social-link__item:hover .item__link {
    color: var(--white-color);
}

.social-link__item .item__link {
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    font-size: 1.8rem;
    color: var(--text-color);
    transition: 0.3s;
}
